


# Environment variables
*.env

# IDE/editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and databases
*.log
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg
*.egg-info/
dist/
build/
.eggs/

# Pytest cache
.pytest_cache/
